

body, html{
    margin: auto 0;
    width: 100%;

}


.zone {
    /*padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
/* NAV */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.5em;
    margin: 0;
   height: 6vh;
}
@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 0.5em;
        padding: 0px;
    }
}
.push{
        margin-left: auto;
    }

li{
    padding: 10px;
}

a{
    font-family: Roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #887C6F;
}

.logo{
    /*width: 135px;
    height: 63px;
    */
    width: 7em;
    margin: 0;

}

/* COVER */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.cover{
    width: 20rem;
}

.button {
  background-color: #F4CDA7; /* Orane*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  transition-duration: 0.4s;
}

input[type=text] {
  border: 2px solid #F4CDA7;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding: 12px 20px;
  color: #887C6F;
  margin: 8px 0;
  font-size: 0.5em;
}
input[type=text]:focus {
   -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  border: 5px solid #F4CDA7;
  color: #887C6F;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #887C6F;
  opacity: 0.3; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.profile{
    width: 5em;

}
.dis{
    padding: 0;
}


/* GRID */
.grid-wrapper{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.box > img{
    width: 100%;

}
.box{
    background-color: #444;
    padding: 50px;
    margin: 20px;
    font-size: 0.7em;
}

footer{
    text-align: center;
}
/* FOOTER */
.grid-container{
    display: flex;
    font-size: 0.7em;
    text-decoration: none;
}

/*ul{
    list-style: none;
}*/
.list {
    font-family: Roboto;
    font-style: normal;
    color: #887C6F;
    list-style: none;
}

.title{
    font-weight: bold;
}



/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #F3F0EC; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F0EC), color-stop(100%,#F3F0EC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, ##F3F0EC 0%,##F3F0EC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #F3F0EC; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F0EC), color-stop(100%,#F3F0EC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3F0EC 0%,#F3F0EC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}




/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
